.app {
  text-align: center;
  min-height: 810px;
  min-width: 350px;
  background-color: rgb(236, 240, 245);
  overflow: scroll;
  border-color: rgb(62, 80, 98);
  border-width: 5px;
  border-style: solid;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

ul {
  list-style-type: none;
}

.contentContainer {
  height: 93%;
}

.left {
  width: 100%;
  height: 7%;
  float: none;
}

.right {
  height: 85%;
  background-color: rgb(236, 240, 245);
}

/* Header Styling */

.header {
  height: 7%;
  width: 100%;
  padding: 2px;
  justify-content: center;
  background-color: rgb(62, 80, 98);
}

.header-wrap {
  display: flex;
  height: 55px;
  justify-content: space-between;
  background-color: rgb(62, 80, 98);
  align-items: center;
}

.header h1 {
  font-size: 1.2rem;
  padding-left: 15px;
  background-color: rgb(62, 80, 98);
  color: rgb(236, 240, 245);
}

.header p {
  width: 100px;
  font-size: 14px;
  background-color: rgb(62, 80, 98);
  color: rgb(236, 240, 245);
  margin-right: 15px;
}

.header button {
  padding: 5px;
  margin: 10px;
  margin-right: 25px;
  right: 15px;
  top: 32px;
  background-color: rgb(62, 80, 98);
  color: rgb(236, 240, 245);
  border-radius: 10px;
}

/* Nav Styling */

.Nav {
  padding: 0.4em;
  height: 2.8em;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
}

.Nav button {
  padding: 5px;
  background-color: rgb(62, 80, 98);
  color: rgb(236, 240, 245);
  border-radius: 10px;
}

/* Home Styling */

.Home {
  padding-top: 20px;
  color: rgb(62, 80, 98);
  height: 50%;
}
#users {
  margin: 5px;
}
.Home button {
  margin: 5px;
  padding: 5px;
  background-color: rgb(62, 80, 98);
  color: rgb(236, 240, 245);
  border-radius: 10px;
}
.Home p {
  padding: 3em;
}

/* Topics Styling */
.Topics {
  margin-top: 20px;
  height: 80%;
  overflow: visible;
}

.Topics button {
  margin: 5px;
  padding: 5px;
  background-color: rgb(62, 80, 98);
  color: rgb(236, 240, 245);
  border-radius: 10px;
}

.Topics h1 {
  font-size: 20px;
  padding-bottom: 20px;
}
.topicsList {
  margin-top: 10px;
  margin-bottom: 20px;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.topicsList a {
  width: 60%;
  margin: 10px;
  padding: 5px;
  border-width: 2px;
  border-color: rgb(62, 80, 98);
  border-style: solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: rgb(62, 80, 98);
}

.topicsList p {
  margin: 3px;
  background-color: rgb(255, 255, 255);
  color: rgb(62, 80, 98);
}

#postNewTopic {
  width: 90%;
  margin: auto;
  margin-top: 10px;
  justify-content: center;
}

#postTopicSlug {
  display: block;
  margin: auto;
  width: 80%;
  color: rgb(62, 80, 98);
  background-color: rgb(255, 255, 255);
  border: rgb(62, 80, 98) 2px solid;
  border-radius: 10px;
}

#postTopicDescription {
  display: block;
  margin: auto;
  width: 90%;
  height: 60px;
  color: rgb(62, 80, 98);
  background-color: rgb(255, 255, 255);
  border: rgb(62, 80, 98) 2px solid;
  border-radius: 10px;
}

/* ArticlesList Styling */

.articleListContainer button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  background-color: rgb(62, 80, 98);
  color: rgb(236, 240, 245);
  border-radius: 10px;
}

.ArticleList {
  display: grid;
  width: 90%;
  margin: auto;
  color: rgb(62, 80, 98);
}

.articlesListReturnButton {
  width: 40%;
  margin: auto;
  justify-self: center;
}

.articlesListOrderByButton {
  width: 40%;
  margin: auto;
  justify-self: center;
}

.ArticleList a {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-width: 2px;
  border-color: rgb(62, 80, 98);
  border-style: solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: rgb(62, 80, 98);
}

#postArticle {
  width: 90%;
  margin: auto;
}

#postArticleTitle {
  display: block;
  margin: auto;
  margin-top: 5px;
  width: 80%;
  font-size: medium;
}

#postArticleTitleText {
  display: block;
  margin: auto;
  margin-top: 5px;
  width: 80%;
  font-size: medium;
  color: rgb(62, 80, 98);
  background-color: rgb(255, 255, 255);
  border: rgb(62, 80, 98) 2px solid;
  border-radius: 10px;
}

#postArticleBody {
  display: block;
  margin: auto;
  margin-top: 5px;
  font-size: medium;
  width: 90%;
  height: 100px;
}

#postArticleBodyText {
  display: block;
  margin: auto;
  margin-top: 5px;
  font-size: medium;
  width: 90%;
  height: 80px;
  color: rgb(62, 80, 98);
  background-color: rgb(255, 255, 255);
  border: rgb(62, 80, 98) 2px solid;
  border-radius: 10px;
}

#sort_by {
  color: rgb(62, 80, 98);
  background-color: rgb(255, 255, 255);
  border: rgb(62, 80, 98) 2px solid;
  border-radius: 10px;
}

/* Article Styling */
.Article {
  width: 95%;
  margin: auto;
}
.Article button {
  margin: 10px;
  padding: 5px;
  background-color: rgb(62, 80, 98);
  color: rgb(236, 240, 245);
  border-radius: 10px;
}

.Article p {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Comments styling */

#comment {
  border: rgb(62, 80, 98) 2px solid;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
  padding: 5px;
}

#comment button {
  margin: 10px;
  padding: 5px;
  background-color: rgb(62, 80, 98);
  color: rgb(236, 240, 245);
  border-radius: 10px;
}

#postCommentBody {
  display: block;
  margin: auto;
  margin-top: 5px;
  width: 100%;
  height: 80px;
  font-size: medium;
  color: rgb(62, 80, 98);
  background-color: rgb(255, 255, 255);
  border: rgb(62, 80, 98) 2px solid;
  border-radius: 10px;
}

/* Users Styling */

.users {
  padding-top: 50px;
}

.user {
  display: block;
  width: 70%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 10px;
  border: rgb(62, 80, 98) 2px solid;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

/* User Profile Styling */

.userProfile {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  color: rgb(62, 80, 98);
}

.userProfile img {
  width: 300px;
  height: 300px;
}

.userProfile button {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  padding: 5px;
  background-color: rgb(62, 80, 98);
  color: rgb(236, 240, 245);
  border-radius: 10px;
}

/* Desktop styling */

@media only screen and (min-width: 769px) {
  .app {
    border: none;
    background-image: url('../src/pics/background.jpg');
  }
  .contentContainer {
    width: 50%;
    min-width: 560px;
    height: 90vh;
    margin: auto;
    display: grid;
    grid-template-columns: [left]20% [right]80%;
    grid-template-areas: 'left right';
  }
  .header-wrap {
    width: 50%;
    margin: auto;
    border-left: 5px solid rgb(62, 80, 98);
    border-right: 5px solid rgb(62, 80, 98);
  }

  .left {
    width: 100%;
    height: 100%;
    float: left;
  }

  .right {
    height: 100%;
    border-left: 5px solid rgb(62, 80, 98);
    border-right: 5px solid rgb(62, 80, 98);
    border-bottom: 5px solid rgb(62, 80, 98);
  }

  .Nav {
    min-width: 115px;
    padding: 0;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-left: 5px solid rgb(62, 80, 98);
    border-right: 5px solid rgb(62, 80, 98);
    background-color: rgb(62, 80, 98);
  }
  .Nav button {
    height: 70px;
    width: 70px;
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: rgb(236, 240, 245);
    color: rgb(62, 80, 98);
  }

  .Home {
    margin: auto;
    border-left: 5px solid rgb(62, 80, 98);
    border-right: 5px solid rgb(62, 80, 98);
    height: 100vh;
  }
  .Topics {
    padding-top: 30px;
    margin: auto;
    height: 100%;
  }

  .topicsList {
    height: 55%;
  }

  .articleListContainer {
    height: 80%;
  }

  .ArticleList {
    height: 80%;
    grid-template-rows: [row1]10% 6% 6% 10% 10%;
  }

  #postNewTopic {
    width: 80%;
    margin: auto;
    justify-content: center;
    display: block;
  }

  #postTopicSlug {
    margin: auto;
  }

  #postTopicDescription {
    margin: auto;
  }
  #postArticleBody {
    display: block;
    margin-bottom: 3px;
  }
  #postArticleBodyText {
    display: block;
    margin-bottom: 3px;
  }
}
