.app {
  text-align: center;
  height: 100vh;
  min-width: 350px;
  background-color: rgb(236, 240, 245);
  overflow: scroll;
  border-color: rgb(62, 80, 98);
  border-width: 5px;
  border-style: solid;
}

ul {
  list-style-type: none;
}

.contentContainer {
  height: 93%;
}

.left {
  width: 100%;
  height: 7%;
  float: none;
}

.right {
  height: 85%;
}

/* Header Styling */

.header {
  height: 7%;
  width: 100%;
  justify-content: center;
  background-color: rgb(62, 80, 98);
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  background-color: rgb(62, 80, 98);
  align-items: center;
}

.header h1 {
  font-size: 1.2rem;
  padding-left: 15px;
  background-color: rgb(62, 80, 98);
  color: rgb(236, 240, 245);
}

.header p {
  width: 100px;
  font-size: 14px;
  background-color: rgb(62, 80, 98);
  color: rgb(236, 240, 245);
  margin-right: 15px;
}

.header button {
  padding: 5px;
  margin: 10px;
  margin-right: 25px;
  right: 15px;
  top: 32px;
  background-color: rgb(62, 80, 98);
  color: rgb(236, 240, 245);
  border-radius: 10px;
}

/* Nav Styling */

.Nav {
  padding: 0.4em;
  height: 2.8em;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
}

.Nav button {
  padding: 5px;
  background-color: rgb(62, 80, 98);
  color: rgb(236, 240, 245);
  border-radius: 10px;
}

/* Home Styling */

.Home {
  padding-top: 20px;
  color: rgb(62, 80, 98);
  height: 50%;
}
#users {
  margin: 5px;
}
.Home button {
  margin: 5px;
  padding: 5px;
  background-color: rgb(62, 80, 98);
  color: rgb(236, 240, 245);
  border-radius: 10px;
}
.Home p {
  padding: 3em;
}

/* Topics Styling */
.Topics {
  margin-top: 20px;
  height: 80%;
  overflow: visible;
}

.Topics button {
  margin: 5px;
  padding: 5px;
  background-color: rgb(62, 80, 98);
  color: rgb(236, 240, 245);
  border-radius: 10px;
}

.Topics h1 {
  font-size: 20px;
  padding-bottom: 20px;
}
.topicsList {
  margin-top: 10px;
  margin-bottom: 20px;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.topicsList a {
  width: 60%;
  margin: 10px;
  padding: 5px;
  border-width: 2px;
  border-color: rgb(62, 80, 98);
  border-style: solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(62, 80, 98);
  color: rgb(236, 240, 245);
}

.topicsList p {
  margin: 3px;
  background-color: rgb(62, 80, 98);
  color: rgb(236, 240, 245);
}

#postNewTopic {
  width: 90%;
  margin: auto;
  justify-content: center;
}

#postTopicSlug {
  margin-right: 20px;
  margin-left: 4px;
  margin-bottom: 4px;
}

#postTopicDescription {
  margin-right: 10px;
  margin-left: 4px;
}

/* Articles Styling */

.ArticleList {
  border-color: Yellow;
  border-width: 5px;
  border-style: solid;
}
#comment {
  border: 1px solid black;
  margin: auto;
  margin-top: 4px;
  width: 95%;
  border-radius: 5px;
  background-color: rgb(233, 243, 248);
}

@media only screen and (min-width: 650px) {
  .app {
    border: none;
  }
  .contentContainer {
    width: 50%;
    min-width: 560px;
    height: 90vh;
    margin: auto;
    display: grid;
    grid-template-columns: [left]20% [right]80%;
    grid-template-areas: 'left right';
  }
  .header-wrap {
    width: 50%;
    margin: auto;
    border-left: 5px solid rgb(62, 80, 98);
    border-right: 5px solid rgb(62, 80, 98);
  }

  .left {
    width: 100%;
    height: 100%;
    float: left;
  }

  .right {
    height: 100%;
  }

  .Nav {
    min-width: 115px;
    padding: 0;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-left: 5px solid rgb(62, 80, 98);
    border-right: 5px solid rgb(62, 80, 98);
    background-color: rgb(62, 80, 98);
  }
  .Nav button {
    height: 70px;
    width: 70px;
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: rgb(236, 240, 245);
    color: rgb(62, 80, 98);
  }

  .Home {
    margin: auto;
    border-left: 5px solid rgb(62, 80, 98);
    border-right: 5px solid rgb(62, 80, 98);
    height: 100vh;
  }
  .Topics {
    padding-top: 30px;
    margin: auto;
    height: 100%;
    border-left: 5px solid rgb(62, 80, 98);
    border-right: 5px solid rgb(62, 80, 98);
    border-bottom: 5px solid rgb(62, 80, 98);
  }

  .topicsList {
    height: 65%;
  }

  #postNewTopic {
    width: 80%;
    margin: auto;
    justify-content: center;
    display: block;
  }

  #postTopicSlug {
    margin-right: 20px;
    margin-left: 4px;
    margin-bottom: 4px;
  }

  #postTopicDescription {
    margin-right: 10px;
    margin-left: 4px;
  }
}
